<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Spring Boot File Upload with AngularJS</title>
<meta charset="utf-8" />
<!-- Check other AngularJS version at: -->
<!-- https://code.angularjs.org/1.6.9/docs/misc/downloading -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="/js/MainApp.js"></script>
<script src="/js/UploadFileCtrl.js"></script>
<script src="/js/GetFilesCtrl.js"></script>
</head>

<body ng-app="MainApp">
	      
	<h2>Spring Boot File Upload with AngularJS - Single File</h2>
	      
	<div ng-controller="UploadFileController">

		<form>
			Description: <br/>
			<input type="text" name="description" ng-model="description" />
			<input type="file" file-model="file" />
			<button type="button" ng-click="uploadFile()">Upload File</button>
		</form>
		                   
		<h2>Upload Results:</h2>
		         
		<div style="border: 1px solid #ccc; padding: 5px;">
			<span ng-bind="uploadResult"></span>
		</div>
		
		<div>
			<ul>
				<li th:each="file : ${files}">
					<p>Link</p> <a th:href="${file}" th:text="${file}" />
	
					<p>Image</p> <img th:src="${file}" />
	
					<p>Video</p> <video width="320" height="240" controls>
						<source th:src="${file}" type="video/mp4">
						<source th:src="${file}" type="video/ogg">
						Your browser does not support the video tag.
					</video>
				</li>
			</ul>
		</div>
		      
	</div>
	      
	<!-- Get Files -->
	      
<!-- 	<hr> -->
<!-- 	       -->
<!-- 	<div ng-controller="GetFilesController"> -->
<!-- 		          -->
<!-- 		          -->
<!-- 		<ul> -->

<!-- <li ng-repeat="file in allFiles">               <a -->
<!-- 				href='/rest/files/{{file}}'>{{file}}</a>              -->
<!-- 			</li> -->
<!-- 		</ul> -->
<!-- 		       -->
<!-- 	</div> -->

<!-- 	<br /> -->
<!-- 	<hr> -->
	
	   
</body>
</html>